<h4 class="text-orange font-size-16 door-size margin-t-0">
  <img src="../../assets/images/Info-64.png" height="20" class="pull-right" alt="">
  Select your door size</h4>
<!-- Tiles section -->
<div class="row margin-b-15">
  <div class="col-xs-6 padding-r-7">
    <div class="tile text-center padding-t-10 ptn-rel select-door">
      <div class="padding-b-10">
        Single Car Door
      </div>
      <div class="padding-b-10">
        <img src="../../assets/images/select.png" alt="" class="selected-icon ptn-abs" />
        <img src="../../assets/images/IconSingledoor.png" alt="" height="60">
      </div>
      <div class="padding-b-10">
        Door up to 10' wide
      </div>
    </div>
  </div>
  <!-- section ends -->
  <div class="col-xs-6 padding-l-7">
    <div class="tile text-center padding-t-10 ptn-rel select-door ptn-rel">
          <div class="padding-b-10">
        Double Car Door
      </div>
      <div class="padding-b-10">
        <img src="../../assets/images/IconDoubledoor.png" alt="" height="60">
      </div>
      <div class="padding-b-10">
        Door over 10' wide
      </div>
    </div>
  </div>
  <!-- section ends -->
</div>


<!-- button -->
<button id="select-size-btn" class="btn btn-default margin-b-15">
  Know your exact door size ?
  <img src="../../assets/images/Forward-50.png" alt="" height="10" class="margin-l-15 transform-rotate-90">
</button>
