<div class="row logo-header row-inner">
  <div class="col-xs-5 padding-0">
    <a routerLink="/banner"> <img src="./assets/images/clopay-logo_s.png" class="logo" alt=""></a>
  </div>

  <div class="col-xs-4 pull-right padding-0">
    <img src="./assets/images/TheHomeDepot.png" alt="" height="40" class="pull-right">
    <img src="./assets/images/shopping-cart.png" (click)="modal.open()" alt="" height="30" class="pull-right cart-icon">
    <span class="shop-count">0</span>
  </div>
</div>

<modal #modal>
  <modal-header [show-close]="true">
  </modal-header>
  <modal-body class="text-center">
    <p>Your Shopping Cart is Empty</p>
    <div>
      <button class="btn btn-default box-shadow text-orange bold" (click)="modal.close()">Continue Shopping</button>
    </div>
  </modal-body>
</modal>



