<h4 class="text-orange font-size-16">Choose Your Glass Type</h4>
<div class="window-location ">
    <span class="ptn-rel">
        <img src="../../assets/images/select.png" class="ptn-abs lock-select" alt="">
        <img src="../../assets/images/btnWinPlace4Rnumber1.png" alt="">
    </span>
    <span class="pull-right ptn-rel" id="glass-select">
        <img src="../../assets/images/select.png" class="ptn-abs lock-select display-none" alt=""  >
        <img src="../../assets/images/btnWinPlace4Rnumber2.png" alt="">
    </span>

</div>
<div class="clearfix margin-b-15"></div>
<div class="tile margin-b-15 ptn-rel">
  <div id="glassCarousel" class="carousel slide padding10 glass-carousel carousel1" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div role="listbox" class="carousel-inner">
      <div class="item active">
          <span class="ptn-rel ">
              <img src="../../assets/images/select.png" class="ptn-abs select-img" height="15"
                   alt="">
              <img src="../../assets/images/btnGLAZ-S.png" alt="">
              <span class="clearfix inline-block">SSB Clear Glass (Non-Insulated)</span>
          </span>
          <span class="ptn-rel"> 
              <img src="../../assets/images/btnGLAZ-S.png" alt="">
              DSB Strength Clear Glass(Non-Insulated)
          </span>
          <span class="ptn-rel"> 
              <img src="../../assets/images/btnGLAZ-A.png" alt="">
              Acrylic (Non-Insulated)
          </span>
      </div>
    </div>
  </div>

</div>
