<h4 class="text-orange font-size-16">Additional Options</h4>
<div class="content additional-options">
    <dl>
        <dd>
     <p>Medallion Hardware Upgrade for <span class="text-orange">$59.00</span>?</p>
      <div id="upgrade">
        <img src="../../assets/images/medallionlogo.png">
        <img src="../../assets/images/MedallionUpgrades_warranties.png">
      </div>
      <div class="flex-right">
        <span class="text-orange">Yes</span>
        <label class="switch">
          <input type="checkbox" checked="checked">
          <div class="slider round"></div>
        </label>
        <span class="text-orange">No</span>
      </div>
    </dd>
    <dd>
      <p>Is this job site within 30 drive miles of this store?</p>
      <div class="flex-right">
        <span class="text-orange">Yes</span>
        <label class="switch">
          <input type="checkbox" checked="checked">
          <div class="slider round"></div>
        </label>
        <span class="text-orange">No</span>
      </div>
      <div class="align-right">
        <p id="distance">Distance of job site is <input type="text" /> drive miles from store</p>
      </div>
    </dd>
    <dd>
      <p>Do you need Double Track Low Head Room Conversion Kit <span class="text-orange">$59.00</span>?</p>
      <div class="flex-right">
        <span class="text-orange">Yes</span>
        <label class="switch">
          <input type="checkbox">
          <div class="slider round"></div>
        </label>
        <span class="text-orange">No</span>
      </div>
    </dd>
  </dl>
</div>
