<div class="category-sec clearfix">
  <div class="col-xs-6 padding-r-7 show-category">
    <div class="bg-white box-shadow">
      <div class="image-sec text-center padding-t-10">
        <span class="helper"></span>
        <img src="../../assets/images/IconResidentialdoor.png" class="margin-b-15"
             style="height: 129px;margin:-10px 0 0" alt="">
      </div>
      <p class="category-type residential-garrage text-center">Residential Garage Door</p>
    </div>

  </div>

  <div class="col-xs-6 padding-l-7">
    <div class="bg-white box-shadow">
      <div class="image-sec text-center padding-t-10 ptn-rel">
        <span class="helper"></span>
        <img src="../../assets/images/coming-soon.png" class="ptn-abs category-coming-soon" alt="">
        <img src="../../assets/images/IconCommercialdoor.png" class="margin-b-15 margin-r-25" alt="">
      </div>
      <p class="category-type text-center">Commercial Door</p>
    </div>

  </div>

  <div class="col-xs-6 padding-r-7">
    <div class="bg-white box-shadow">
      <div class="../../assets/image-sec text-center padding-t-10 ptn-rel">
        <img src="../../assets/images/coming-soon.png" class="ptn-abs category-coming-soon" alt="">
        <img src="../../assets/images/IconRepair.png" class="margin-b-15 margin-r-25"
             style="height: 90px;width: 120px;margin: 0" alt="">
      </div>
      <p class="category-type text-center">Service and Repair</p>
    </div>

  </div>

  <div class="col-xs-6 padding-l-7">
    <div class="bg-white box-shadow">
      <div class="../../assets/image-sec text-center padding-t-10 ptn-rel">
        <img src="../../assets/images/coming-soon.png" class="ptn-abs category-coming-soon" alt="">
        <img src="../../assets/images/IconGDO.png" class="margin-b-15 margin-r-25"
             style="height: 90px;width: 130px;margin: 0" alt="" width="80">
      </div>
      <p class="category-type text-center">Garage Door Opener</p>
    </div>

  </div>
</div>
<app-trending-now></app-trending-now>
