<div class="row fixed-header">
  <h4>Your Door Configuration <span class="pull-right">$876.95</span></h4>
  <div class="space-around">
    <button onclick="showToast()" class="btn">SHARE<span class="glyphicon glyphicon-share"></span></button>
    <button onclick="showToast()" class="btn">EMAIL QUOTE<span class="glyphicon glyphicon-envelope"></span></button>
  </div>
</div>
<div class="content door-configuration">
  <p>Classic™ Collection -Premium Series (Installed)</p>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Door Model
    </dd>
    <dd>
      <p>HDP20</p><span class="pull-right">$876.95</span>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Size
    </dd>
    <dd>
      <p>9'0"(w) x 7'0"(h)</p>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      WindCode
    </dd>
    <dd>
      <p>W0</p>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Door Design
    </dd>
    <dd>
      <p>Short Panel</p>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Door Construction
    </dd>
    <dd>
      <p>3-layer 2" Intellicore® Insul. R-Value 18.4</p>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Color
    </dd>
    <dd>
      <p>Standard White</p>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Top Section
    </dd>
    <dd>
      <p>Solid Short Elegant</p>
    </dd>
    <dd>
      <p>Placement : 4th Row (TOP)</p>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Hardware
    </dd>
    <dd>
      <p>Lock : Inside Slide Lock (Retail)</p>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Opener
    </dd>
    <dd>
      <p>Elite Series 8550W 12v DC Motor with Integrated Battery Backup, Belt Drive,
        and MyQ with 7' Rail</p><span class="pull-right">$484.00</span>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Opener Accessories
    </dd>
    <dd>
      <p>Liftmaster Premium 3-Button Remote (x1)</p><span class="pull-right">$39.95</span>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Additional Options
    </dd>
    <dd>
      <p>Medallion Hardware Upgrade</p><span class="pull-right">$59.00</span>
    </dd>
  </dl>
  <dl class="door-configuration-table">
    <dd class="door-configuration-table-header">
      Quantity
    </dd>
    <dd>
      <div class="row">
        <div class="col-xs-4">Openers</div>
        <div class="col-xs-8">
          <img src="images/substract.png">
          <span>1</span>
          <img src="images/add.png">
        </div>
      </div>
    </dd>
  </dl>
</div>
<div id="snackbar">Coming Soon..</div>
