<h5 class="text-orange roboto-medium font-size-16">
  <img src="../../assets/images/trending_1.png" class="trending-now">Trending Now
</h5>
<div class="trending">
  <div class="col-xs-6">
    <div class="tile">
      <div class="img-sec text-center">
        <img src="../../assets/images/LearnGarageDoorMOV.png" alt="">
      </div>
      <div class="trending-link">
        <a href="">Learn about garage doors</a>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="tile">
      <div class="img-sec text-center">
        <img src="../../assets/images/LearnInteliCoreMOV.png" alt="">
      </div>
      <div class="trending-link">
        <a href="">Learn about
          Intellicore Insulation</a>
      </div>
    </div>
  </div>



</div>
