<h5 class="text-orange roboto-medium font-size-16">
  <img src="../../assets/images/trending_1.png" class="trending-now">Trending Now
</h5>

<div class="_slider-container m20-top">

  <div class="_slider-wrapper">

    <div class="_slider" [style.width.px]="sliderWidth" [style.left.px]="sliderLeft">

      <div class="_slide" [style.width.px]="slideWidth">
        <img src="../../assets/images/LearnGarageDoorMOV.png" class="_slide-img"/>
      </div>
      <div class="_slide" [style.width.px]="slideWidth">
        <img src="../../assets/images/LearnInteliCoreMOV.png" class="_slide-img"/>
      </div>
      <div class="_slide" [style.width.px]="slideWidth">
        <img src="../../assets/images/LearnGarageDoorMOV.png" class="_slide-img"/>
      </div>
      <div class="_slide" [style.width.px]="slideWidth">
        <img src="../../assets/images/LearnInteliCoreMOV.png" class="_slide-img"/>
      </div>
      <div class="_slide" [style.width.px]="slideWidth">
        <img src="../../assets/images/LearnGarageDoorMOV.png" class="_slide-img"/>
      </div>

    </div>

  </div>

</div>
