<div class="trending">
  <div class="col-xs-6">
    <div class="tile">
      <div class="col-xs-10 col-xs-offset-1 img-sec">
        <img src="../../assets/images/intellicore-horizontal-tag_RGB.png" alt="">
      </div>
      <div class="trending-link">
        <a href="">Learn about garage doors</a>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="tile">
      <div class="col-xs-10 col-xs-offset-1 img-sec">
        <img src="../../assets/images/intellicore-horizontal-tag_RGB.png" alt="">
      </div>
      <div class="trending-link">
        <a href="">Learn about garage doors</a>
      </div>
    </div>
  </div>

</div>
