nav{
  margin-top: 55px;
  ul{
    padding: 0;
    li{
      list-style-type: none;
      cursor: pointer;
      margin-bottom: 10px;
      height: 50px;
      img{
        height: 35px;
      }
    }
  }

}
