<div class="col-xs-2 padding-0">
  <nav>
    <ul class="padding-0">
      <li class="text-center">
        <img src="../../assets/images/left-nav/home-O.png" class="visited" alt="">
      </li>
      <li class="text-center current">
        <img src="../../assets/images/left-nav/size-s.png" class="visited" alt="">
      </li>
      <li class="text-center">
        <img src="../../assets/images/left-nav/collection-w.png" alt="">
      </li>
      <li class="text-center">
        <img src="../../assets/images/left-nav/camera-w.png" alt="">
      </li>
      <li class="text-center">
        <img src="../../assets/images/left-nav/design-w.png" alt="">
      </li>
      <li class="text-center">
        <img src="../../assets/images/left-nav/construction-w.png" alt="">
      </li>
      <li class="text-center">
        <img src="../../assets/images/left-nav/color-w.png" alt="">
      </li>
      <li class="text-center">
        <img src="../../assets/images/left-nav/topsection-w.png" alt="">
      </li>
      <li class="text-center">
        <img src="../../assets/images/left-nav/glasstype-w.png" alt="">
      </li>
      <li class="text-center">
        <img src="../../assets/images/left-nav/hardware-w.png" alt="">
      </li>
      <li class="text-center" id="diy-s">
        <img src="../../assets/images/left-nav/diy-w.png" alt="">
      </li>
      <li class="text-center">
        <img src="../../assets/images/left-nav/opener-w.png" alt="">
      </li>
      <li class="text-center" id="diySelected">
        <img src="../../assets/images/left-nav/summary-w.png" alt="">
      </li>
    </ul>
  </nav>
</div>
