<h4 class="font-size-16 text-orange">Choose Your Color</h4>
<div class="tile margin-b-15 ptn-rel">
    <div id="colorCarousel" class="carousel slide padding10 color-carousel carousel1" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div role="listbox" class="carousel-inner">
            <div class="item active">
                <ul class="padding-0">
                    <li class="margin-left1-5 select">
                        <div class="white-pannel"></div>
                        <img src="../../assets/images/select.png" alt="" class="selected-icon ptn-abs"/>
                        <p>Standard White</p>
                    </li>
                    <li class="select">
                        <div class="almond-pannel"></div>
                        <img src="../../assets/images/select.png" alt="" class="selected-icon ptn-abs hide"/>
                        <p>Almond</p>
                    </li>
                    <li class="margin-right1-5 margin-r-0 select">
                        <div class="grey-pannel"></div>
                        <img src="../../assets/images/select.png" alt="" class="selected-icon ptn-abs hide"/>
                        <p>Grey</p>
                    </li>

                    <li class="margin-left1-5 ptn-rel">
                        <div class="desert-tan"></div>
                        <p>Desert Tan</p>
                    </li>
                    <li>
                        <div class="sandStone"></div>
                        <p>Sandstone</p>
                    </li>
                    <li class="margin-right1-5 margin-r-0">
                        <div class="hunterGreen"></div>
                        <p>Hunter Green</p>
                    </li>
                </ul>
            </div>

            <div class="item">
                <ul class="padding-0">
                    <li class="margin-left1-5">
                        <img src="../../assets/images/btnBlack.png" alt="">
                        <p>Black + $143.65</p>
                    </li>
                    <li>
                        <img src="../../assets/images/btnBronzeRes.png" alt="">
                        <p>Bronze</p>
                    </li>
                    <li class="margin-right1-5 margin-r-0">
                        <img src="../../assets/images/btnChocolate.png" alt="">
                        <p>Chocolate (Painted)</p>
                    </li>

                    <li class="margin-left1-5">
                        <img src="../../assets/images/btnmedium.png" alt="">
                        <p>Ultra-Grain Classic</p>
                    </li>
                    <li>
                        <img src="../../assets/images/btncherry.png" alt="">
                        <p>ultra-Grain &reg; Classic Chery Finish</p>
                    </li>
                    <li class="margin-right1-5 margin-r-0">
                        <img src="../../assets/images/btnCwalnut.png" alt="">
                        <p>ultra-Grain &reg; Classic Walnut Finish</p>
                    </li>
                </ul>

            </div>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#colorCarousel" role="button" data-slide="prev">
            <span class="helper"></span><img class="left-arrow" src="../../assets/images/ch-left-arrow.png" alt="" >
        </a>
        <a class="right carousel-control" href="#colorCarousel" role="button" data-slide="next">
            <span class="helper"></span><img class="right-arrow" src="../../assets/images/ch-right-arrow.png" alt=""  >
        </a>
    </div>
</div>
