<div class="col-xs-12">
  <app-header></app-header>
</div>

<div class="col-xs-2" *ngIf="showNav">
  <app-nav></app-nav>
</div>
<div class="col-xs-12 router-wrapper">
  <router-outlet></router-outlet>
</div>
<div id="footer" class="col-xs-12 padding-t-10 padding-b-10" *ngIf="currScreen > 2">
  <a href="javascript:void(0)" class="pull-left previous-btn" (click)="prevBtn(currScreen)" data-id="currScreen">
    <img src="../../assets/images/back-48-thick.png" height="15px">
    Prev
  </a>

  <a href="javascript:void(0)" class="pull-right nextBtn" (click)="nextBtn(currScreen)" data-id="currScreen">
    Next
    <img src="../../assets/images/Forward-48-thick.png" height="15px">
  </a>
</div>
