<h4 class="font-size-16 text-orange">Choose Your Construction</h4>
<div class="tile margin-b-15 ptn-rel">
  <div id="myCarousel" class="carousel slide padding10 construction-carousel carousel1" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div role="listbox" class="carousel-inner">
      <div class="item active">
                <span class="ptn-rel" style="display: inline-block">
                    <img src="../../assets/images/best.png" class="construction-selectable" alt="" height="160">
                    <span class="selected-icon ptn-abs"><img src="../../assets/images/select.png" alt="" height="15"/></span>
                </span>
                <span class="ptn-rel">
                    <img src="../../assets/images/coming-soon.png" class="ptn-abs coming-soon" alt="">
                    <img src="../../assets/images/better.png" height="160" alt="">
                </span>
      </div>
      <div class="item">
                <span class="ptn-rel">
                    <img src="../../assets/images/coming-soon.png" class="ptn-abs coming-soon" alt="">
                    <img src="../../assets/images/good.png" alt="" height="160">
                </span>
                <span class="ptn-rel" style="margin-left: 2px">
                    <img src="../../assets/images/coming-soon.png" class="ptn-abs coming-soon" alt="">
                    <img src="../../assets/images/basic.png" height="160" alt="">
                </span>
      </div>
    </div>

    <!-- Left and right controls -->
    <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
      <!--<span class="helper"></span><img src="../../assets/images/ch-left-arrow.png" alt="" height="30">-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
      <!--<span class="helper"></span><img src="../../assets/images/ch-right-arrow.png" alt="" height="30">-->
    <!--</a>-->
  </div>

</div>
