<div class="thank-you text-center">
  <div class="clearfix margin-b-15"></div>
  <img src="../../assets/images/Thanks-expression.png" height="60">
  <h2 class=" margin-b-15">thank you</h2>
  <p class="font-size-16 margin-t-10 margin-b-50">For visiting the Clopay Mobile Configurator</p>
  <h4 class="text-orange tool-text margin-b-50">Would you use this tool to buy a <br> Garage Door ?
  </h4>
  <div class="rating clearfix">
    <div class="ptn-rel">
      <span alt="" class="glyphicon glyphicon-ok select-img ptn-abs"></span>
      <span class="color very-unlikely" data-id="1"></span>
      <p>Very Unlikely</p>
    </div>
    <div class="ptn-rel">
      <span alt="" class="glyphicon glyphicon-ok select-img ptn-abs"></span>
      <span class="color unlikely" data-id="2"></span>
      <p>Unlikely</p>
    </div>
    <div class="ptn-rel">
      <span alt="" class="glyphicon glyphicon-ok select-img ptn-abs"></span>
      <span class="color some-what-likely" data-id="3"></span>
      <p>Somewhat Likely</p>
    </div>
    <div class="ptn-rel">
      <span alt="" class="glyphicon glyphicon-ok select-img ptn-abs"></span>
      <span class="color likely" data-id="4"></span>
      <p>Likely</p>
    </div>
    <div class="ptn-rel">
      <span alt="" class="glyphicon glyphicon-ok select-img ptn-abs"></span>
      <span class="color very-likely" data-id="5"></span>
      <p>Very Likely</p>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-success" id="submit_btn" disabled="">Submit</button>
  </div>
</div>
