<div class="opener-accessories">
  <h4 class="text-orange font-size-16">The Opener You Selected</h4>
  <p class="lead margin-b-10">Elite Series 8550W 12v DC Motor with Integrated Battery Backup, Belt Drive, and MyQ with
    7' Rail</p>
  <h4 class="text-orange font-size-16">Choose Opener Accessories</h4>
  <div class="accessory-sec margin-b-10">
    3-Button Remote 
    <p class="margin-b-0">
        <span class="pull-right" data-id="price-39.95">
                <img src="../../assets/images/substract.png"  alt="">
            <span class="accessory-quantity">0</span>
            <img src="../../assets/images/add.png"   alt="">
        </span>
      + <span class="text-orange">$<span>39.95</span> Each</span>
    </p>
  </div>
</div>
