<h3 class="font-size-16 text-orange margin-t-10">Choose Your Collection</h3>
<!-- Begin Tile 1 -->
<div class="tile">
  <div class="collection-img" *ngIf="!showVideo">
    <img src="../../assets/images/1.png" alt="">
  </div>
  <div class="collection-img" *ngIf="showVideo">
    <iframe src="https://www.youtube.com/embed/m5L_x1OU4s0?autoplay=1"></iframe>
  </div>
  <div class="collection-btn-sec">
    <img src="../../assets/images/play.png" (click)="playVideo()" alt="" height="20">
    <img src="../../assets/images/expand-g.png" height="20" class="margin-l-15" alt="">
    <div class="pull-right">
      <span class="coming-soon"><button>Info</button></span>
      <button class="collection-select">Select</button>
    </div>
  </div>
</div>
<!-- Begin Tile 2 -->
<div class="tile margin-t-10">
  <div class="collection-img">
    <img src="../../assets/images/2.png" alt="">
  </div>
  <div class="collection-btn-sec coming-soon">
    <img src="../../assets/images/play_g.png" alt="" height="20">
    <img src="../../assets/images/expand-g.png" height="20" class="margin-l-15" alt="">
    <div class="btns pull-right">
      <button>Info</button>
      <button>Select</button>
    </div>
  </div>
</div>
<!-- Begin Tile 3 -->
<div class="tile margin-t-10">
  <div class="collection-img">
    <img src="../../assets/images/3.png" alt="">
  </div>
  <div class="collection-btn-sec coming-soon">
    <img src="../../assets/images/play_g.png" alt="" height="20">
    <img src="../../assets/images/expand-g.png" height="20" class="margin-l-15" alt="">
    <div class="btns pull-right">
      <button>Info</button>
      <button>Select</button>
    </div>
  </div>
</div>
<!-- Begin Tile 2 -->
<div class="tile margin-t-10">
  <div class="collection-img">
    <img src="../../assets/images/4.png" alt="">
  </div>
  <div class="collection-btn-sec coming-soon">
    <img src="../../assets/images/play.png" alt="" height="20">
    <img src="../../assets/images/expand-g.png" height="20" class="margin-l-15" alt="">
    <div class="btns pull-right">
      <button>Info</button>
      <button>Select</button>
    </div>
  </div>
</div>
<!-- Begin Tile 3 -->
<div class="tile margin-t-10 margin-b-15">
  <div class="collection-img">
    <img src="../../assets/images/5.png" alt="">
  </div>
  <div class="collection-btn-sec coming-soon">
    <img src="../../assets/images/play_g.png" alt="" height="20">
    <img src="../../assets/images/expand-g.png" height="20" class="margin-l-15" alt="">
    <div class="btns pull-right">
      <button>Info</button>
      <button>Select</button>
    </div>
  </div>
</div>
<div class="text-center button-margin">
  <button class="btn btn-default text-uppercase btn-big box-shadow bold">TAP TO SEE QUICKSHIP DOORS</button>
</div>
<div class="clearfix margin-b-15 inline-block"></div>
