<h4 class="font-size-16 text-orange">Choose Your Design</h4>
<div class="tile text-center choose-your-design--sec margin-b-15 ptn-rel choose-design">
    <div class="margin-b-10">
        <span class="selected-icon ptn-abs">
            <img src="../../assets/images/select.png" alt=""/></span>
        <img src="../../assets/images/white-short.png" alt="" id="short">
    </div>
    <div class="margin-r-0 ptn-rel"> 
        <span class="selected-icon ptn-abs hide design-detials--sec ">
            <img src="../../assets/images/select.png" alt=""/></span>
        <img src="../../assets/images/white-long.png" alt="" id="long">
    </div>
</div>
