<h4 class="font-size-16 text-orange">Choose Your Design</h4>
<div class="tile text-center choose-your-design--sec margin-b-15 ptn-rel choose-design">
  <div class="margin-b-10">
    <span class="selected-icon ptn-abs"><img src="../../assets/images/select.png" alt=""/></span>
    <img src="../../assets/images/white-short.png" alt="" id="short">
  </div>
  <div class="margin-r-0 ptn-rel">
    <!--<img src="images/coming-soon.png" class="comingSoon ptn-abs" alt="">-->
    <span class="selected-icon ptn-abs hide"><img src="../../assets/images/select.png" alt=""/></span>
    <img src="../../assets/images/white-long.png" alt="" id="long">
  </div>
</div>

<div class="tile">
  <div class="design-detials--sec">
    <div class="col-xs-6 padding-r-7 padding-l-7 border-white-right">
      <p class="design-price">$<span id="price-876.95">876.95</span> / Installed</p>
      <p class="design-price">$<span id="price-668.95">668.95</span> / DIY</p>
      <p>
        <img src="../../assets/images/info.png" alt="" height="25">
      </p>
    </div>
    <div class="col-xs-6 padding-0-r">
      <p>
        Quantity
        <img src="../../assets/images/substract.png" alt="" height="20" class="minus-quantity">
        <span class="design-quantity--count">1</span>
        <img src="../../assets/images/add.png" alt="" height="20" class="add-quantity">
      </p>
      <p class="margin-b-5">&nbsp;</p>
      <h4 class="pull-right padding-r-7 text-orange details-btn">DETAILS</h4>
    </div>
  </div>
</div>
<div class="row margin-b-15"></div>
