.linear-bg {
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
  margin-right: -15px;
  margin-left: -15px;
  background: linear-gradient(to bottom, #fff, rgba(51,51,51,0.1));
  height: 170px;
  padding: 0;
  position: fixed;
  z-index: 3;
}
.inner-router{
  margin-top: 195px;
}
