<div class="camera-section">
    <h4 class="text-orange font-size-16">Choose your Home</h4>
    <div class="stock-row ">
        <div class="stock-col col-xs-4">
            <input type="radio" name="stock" id="1" checked="checked"> 
            <img class="  " src="../../assets/images/stock-images/img-1.png"/> 
        </div>
        <div class="stock-col col-xs-4">
            <input type="radio" name="stock" id="2"> 
            <img class="  " src="../../assets/images/stock-images/img-2.png"/> 
        </div>
        <div class="stock-col col-xs-4">
            <input type="radio" name="stock" id="3">
            <img class="  " src="../../assets/images/stock-images/img-3.png"/> 
        </div>
    </div>
    <div class="stock-row">
        <div class="stock-col col-xs-4">
            <input type="radio" name="stock" id="stock-4" disabled="disabled">
            <img class="  " src="../../assets/images/stock-images/img-4.png"/> 
        </div>
        <div class="stock-col col-xs-4">
            <input type="radio" name="stock" id="stock-5" disabled="disabled">
            <img class="  " src="../../assets/images/stock-images/img-5.png"/> 
        </div>
        <div class="stock-col col-xs-4">
            <input type="radio" name="stock" id="stock-6" disabled="disabled">
            <img class="  " src="../../assets/images/stock-images/img-6.png"/> 
        </div>
    </div>
    <div class="stock-row">
        <div class="stock-col col-xs-4">
            <input type="radio" name="stock" id="stock-7" disabled="disabled">
            <img class="  " src="../../assets/images/stock-images/img-7.png"/> 
        </div>
        <div class="stock-col col-xs-4">
            <input type="radio" name="stock" id="stock-8" disabled="disabled">
            <img class="  " src="../../assets/images/stock-images/img-8.png"/> 
        </div>
        <div class="stock-col col-xs-4">
            <input type="radio" name="stock" id="stock-9" disabled="disabled">
            <img class="  " src="../../assets/images/stock-images/img-9.png"/> 
        </div>
    </div>
</div>
<div class="camera-section-selection space-around">
    <span>
        <input type="radio" name="camera" id="camera-r1" checked="checked">
        <label for="camera-r1">
            <img src="../../assets/images/stock-block.png">
            <span>Stock</span>
        </label>
    </span>
    <span class="ptn-rel">
        <input type="radio" name="camera" id="camera-r2">
        <label for="camera-r2" class="ptn-rel">
            <img src="../../assets/images/camera-block.png">
            <input type="file" class="ptn-abs camera" accept="image/*" capture="camera">
            <span>Camera</span>
        </label>
    </span>
    <span class="ptn-rel">
        <input type="radio" name="camera" id="camera-r3">
        <label for="camera-r3" class="ptn-abs ptn-rel">
            <img src="../../assets/images/gallery-block.png" alt=""/>
            <input type="file" class="ptn-abs gallery" accept="image/*">
            <span>Gallery</span>
        </label>
    </span>
</div>
