<div class="tile">
  <div class="design-detials--sec">
    <div class="col-xs-6 padding-r-7  border-white-right font-size-12" >
      <p>$<span id="price-876.95">876.95</span> / Installed</p>
      <p>$<span id="price-668.95">668.95</span> / DIY</p>
      <p>
        <img src="../../assets/images/info.png" alt="" height="25">
      </p>
    </div>
    <div class="col-xs-6 padding-0-r  font-size-12">
      <p>
        Quantity
        <img src="../../assets/images/substract.png" alt=""   class="minus-quantity">
        <span>1</span>
        <img src="../../assets/images/add.png" alt=""  class="add-quantity">
      </p>
      <p class="margin-b-5">&nbsp;</p>
      <h4 class="pull-right padding-r-7 text-orange">DETAILS</h4>
    </div>
  </div>
</div>
